# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# macOS files
.DS_Store

# Project generated/large files
background_videos/*
!background_videos/video_5.mp4
!background_videos/video_2_split.zip
!background_videos/video_2_split.z*

bg_video_state.json
output_audio/
output_shorts/

